body{
    font-family:'Poppins',sans-serif;
    background:#050505;
    color:white;
    margin:0;
    overflow-x:hidden;
}

header{
    height:80px;
    padding:0 40px;
}

.logo h1{
    font-size:32px;
}

.logo span{
    color:#d4a017;
}

nav a{
    font-size:14px;
    margin:0 12px;
}

.hero{
    min-height:75vh;
    padding:60px 8%;
}

.hero h1{
    font-size:55px;
    line-height:1;
}

.hero h4{
    font-size:14px;
}

.hero p{
    font-size:18px;
}

.hero-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image img{
    max-width:650px;
    width:100%;
    height:auto;
    object-fit:contain;
}

.section-title h2{
    font-size:34px;
    margin:40px 0 20px;
}

.fleet-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    padding:20px 5%;
}

.car-card{
    background:#111;
    border:1px solid #d4a017;
    border-radius:15px;
    overflow:hidden;
    text-align:center;
    transition:.3s;
}

.car-card:hover{
    transform:translateY(-5px);
}

.car-card img{
    width:100%;
    height:220px;
    object-fit:contain;
    background:#0b0b0b;
    padding:20px;
}

.car-card h3{
    font-size:20px;
    margin:10px 0;
}

.car-card p{
    font-size:16px;
}

.car-card a{
    display:inline-block;
    margin:15px;
    padding:10px 25px;
    background:#d4a017;
    color:black;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    padding:20px 5%;
}

.gallery-grid img{
    width:100%;
    height:180px;
    object-fit:contain;
    background:#111;
    border-radius:12px;
    border:1px solid #222;
    padding:10px;
}

.contact{
    padding:80px 20px;
    text-align:center;
}

.contact h2{
    font-size:32px;
}

.contact p{
    font-size:16px;
}

.floating-whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    background:#25D366;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:30px;
    text-decoration:none;
    z-index:999;
}
