.hero{
height:100vh;
position:relative;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:0 10%;

background:
url("images/1.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.hero-overlay{
position:absolute;
inset:0;
background:linear-gradient(
rgba(0,0,0,.75),
rgba(0,0,0,.85)
);
}

.hero-content{
position:relative;
z-index:2;
max-width:900px;
}

.hero-badge{
display:inline-block;
padding:10px 20px;
border-radius:40px;
background:rgba(212,175,55,.15);
border:1px solid #D4AF37;
color:#D4AF37;
margin-bottom:25px;
font-size:.9rem;
font-weight:600;
}

.hero h1{
font-size:5rem;
font-weight:800;
line-height:1.1;
margin-bottom:25px;
}

.hero h1 span{
color:#D4AF37;
}

.hero p{
font-size:1.2rem;
max-width:700px;
margin:auto;
margin-bottom:35px;
line-height:1.8;
color:#ddd;
}
